div.zcontrols {
    margin-bottom: 20px;
}

div.zcontrols select {
    width: 200px;
    display: inline-block;
}

li.active > a:first-child{
    color: #000;
}
.status-list{
    margin-bottom: 15px;
}
#icon-reload{
    float: right;
}
.input-group-btn a {
    color: white;
}

#pagination .panel-heading span{
    float: right;
    margin-right: 10px;
    line-height: 15px;
}
#pagination .panel-heading span:first-child{
    font-weight:bold; 
    line-height: 27px;
    font-size: 20px;    
    color: #9fa4ad;
}
.infor-pagination span{
    color: blue;
    font-weight: bold;
}
.infor-pagination{
    float: left;
}
.ad-pagination{
    float: right;
}

/*nav lef*/
.container{
    width: 100%;
    height: 100%;
    padding: 0;
}
.container .side-bar{
    position: fixed;
    z-index: 5;
    float: left;
    height: 100%;
    width: 50px;
    background-color: #31708f;
}

.container .side-bar ul li a{
    color: #ffffff;
    display: inline-block;
    font-size: 25px;
    width: 100%;
    padding-left: 12px;
}
.side-left li {
    margin-top: 35%;
}
.container .side-bar ul li a:hover{
    background-color: #e84393;
}
.side-left{
    list-style: none;
    padding: 0;
}
.nav-ins{
    margin-left: 53px;
}
#wrapper{
    padding-left: 54px;
}
#side-menu a span{
    position: absolute;
    right:0;
    padding-right: 10%;
}
h4.view {
    padding-left: 14px;
}
span.back {
    position: absolute;
    right: 0;
    padding-right: 10%;
}
/*content*/
.page-header {
    padding-bottom: 9px;
    margin: 20px 0 20px;
    border-bottom: 1px solid #eee;
}
.search{
       padding-top: 0.5%;
    }
/*Reponsive*/
@media only screen and (max-width: 768px) {
    .nav-user {
        margin-bottom: -52px;
        padding-left: 0;
        list-style: none;
        position: relative;
        top: -50px;
        width: 50%;
    }
    body {
        padding-top: 52px;
        background-color: #f8f8f8;
    }
    .search{
        display: none;
    }
     .navbar-right {
        width: 79%;
        position: relative;
        right: -6% !important;
    }

}
@media only screen and (max-width: 1000px) {
     .navbar-right {
        /* float: right!important; */
        width: 79%;
        position: relative;
        right: -31%;
    }
    
}
@media (min-width: 768px){
    .navbar-right {
        /* float: right!important; */
        width: 79%;
        position: absolute;
        right: -32%;
    }
}

/*reponsive table*/
@media (max-width: 900px){
    .table-responsive {
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        overflow-x: scroll;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #ddd;
        -webkit-overflow-scrolling: touch;
    }
}
