body{
	overflow-x: hidden;
}
#side-menu a p{
	position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #c8d6e5;
    text-align: center;
    line-height: 42px;
    font-size: 20px;
}
#side-menu a b{
	margin-left: 40px;
}
#side-menu a span{
	position: static;
    margin-left: 40px;
}

.help-security {
    border-left: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
}
.help-security  .help-contact{
	position: absolute !important;
	left: 50px !important;
	top: 50% !important;
	transform: translateY(-50%) !important; 
	font-size: 20px;
    padding: 15px; 
    border-radius: 50%; 
    border: 1px solid #74b9ff;
}
.help-security  .help-wrapper{
	padding: 15px 0;
    margin-left: 100px !important;
    font-size: 30px !important;
}
.help-security  p{
	margin: 0;
}
.help-security  .info-employees{
	margin: 0;
	font-size: 15px;
	color: #928f8f;
}
.reply{
    border-left: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
    padding: 50px 0 70px 0;
}

.reply  .help-contact{ 
	display: inline-block;
	margin: 0 0 0 30px;
	font-size: 20px;
    border-radius: 50%; 
    background-color: #74b9ff;
    text-align: center;
    line-height: 50px;
    width: 50px;
    height: 50px;
    position: relative;
}
.reply  .help-contact i{ 
	position: absolute;
    right: 8px;
    bottom: -4px;
    font-size: 10px;
    padding: 4px 5px;
    border-radius: 50%;
    border: 1px solid black;
    background: #ffffff;
}
.reply .reply-form textarea{
	height: 200px;
}
.reply .reply-form .text-form{
	border: 1px solid #d0d0d0;
	border-top: none;
}
.reply .reply-form .text-form .T{
	display: inline-block;
	font-size: 24px;
    padding: 0 13px;
}
.reply .reply-form .text-form .upload{
	display: inline-block;
	font-size: 24px;
	cursor: pointer;
}
.reply .reply-form .text-form input[type="text"]{
	border: none;
    border-left: 1px solid #f1f1f1;
}

.message-info{
	border-left: 1px solid #d0d0d0;
	position: relative;
}
.message-info .all-message{
	position: absolute;
    top: 0;
    left: 110px;
    transform: translateY(-100%);
    padding: 10px 0;
}
.message-info .all-message::before{
	position: absolute;
	content: "";
    bottom: 0;
    left: 0;
    background-color: #007bff;
    width: 100%;
    height: 3px;
}
.message-info .all-message .quantity{
	background-color: #007bff;
}
.message-info .customer-message { 
	padding: 20px 0;
	border-bottom: 1px solid #d0d0d0;
}
.message-info .customer-message .help-contact{ 
	display: inline-block;
	margin: 0px 0 0 40px;
	font-size: 20px;
    border-radius: 50%; 
    background-color: #74b9ff;
    text-align: center;
    line-height: 50px;
    width: 50px;
    height: 50px;
    float: left;
    position: relative;
}
.message-info .customer-message .help-contact i{ 
	position: absolute;
    right: 8px;
    bottom: -4px;
    font-size: 10px;
    padding: 4px 5px;
    border-radius: 50%;
    border: 1px solid black;
    background: #ffffff;
}
.message-info .customer-message .name-customer{ 
	width: 90%;
	margin: 5px 0 0 0;
    padding: 0;
    float: right;
}
.message-info .customer-message .name-customer span{ 
	font-weight: 100;
}
.message-info .customer-message .reply-customer{ 
	width: 90%;
	margin: 0;
    padding: 0;
    float: right;
}
